@import url(../app.css);

//Image banderole
.hero-scene {
    position: relative;
  }
  .hero-scene::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/Covoiturage.jpg);
    background-position: 50% 65%;
    background-size: cover;
  }
  .hero-scene * {
    position: relative;
  }
  .hero-scene .hero-scene-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(209, 206, 5, 0.2);
  }

  .card{
    background-color: var(--secondary-color) !important;
  }

  .profil
  {
    max-width: 50%;;
    height: auto;
  }

  .star{
    color: var(--star-color) !important;
  }

  p{
    font-size: 125%;
  }

  .ast{
    font-size: 100%;
  }

  .filtre{
    font-size: 80%;
  }

  
  #mention {
    accent-color: var(--secondary-color) !important;
  }

  #prix {
    width: 30%;
    height: 75%;
    background-color: var(--secondary-color) !important;
  }

  #duree {
    width: 25%;
    height: 75%;
    background-color: var(--secondary-color) !important;
  }

  #animaux {
    width: 50%;
    height: 75%;
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
  }

  #note {
    width: 50%;
    height: 75%;
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
  }