
// Définition couleur Bootstrap
:root {
  --primary-color: #A16D24;
  --secondary-color: #C5B585;
  --background-color: #CFA549;
  --success-color: #1C6F21;
  --beige-color: #E3D2AE;
  --star-color: #F39A0A;
}

// Personnalisation des couleurs Bootstrap
.bg-primary {
  background-color: var(--primary-color) !important;
}

// css

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color) ;
}

.footer {
  margin-top: auto;
  background-color: var(--primary-color) ;
}
